<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iplayif.parchment" version="2017.12.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Parchment</name>
    <description>
        Parchment Interactive Fiction Interpreter
    </description>
    <author email="curiousdannii@gmail.com" href="https://github.com/curiousdannii/parchment">
        Dannii Willis
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <config-file parent="/manifest/application/activity" target="app/src/main/AndroidManifest.xml">
            <intent-filter android:label="Parchment" android:name="Parchment">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\\.gblorb" />
                <data android:pathPattern=".*\\.glb" />
                <data android:pathPattern=".*\\.ulx" />
                <data android:pathPattern=".*\\.z3" />
                <data android:pathPattern=".*\\.z4" />
                <data android:pathPattern=".*\\.z5" />
                <data android:pathPattern=".*\\.z8" />
                <data android:pathPattern=".*\\.zblorb" />
                <data android:pathPattern=".*\\.zlb" />
            </intent-filter>
            <intent-filter android:label="Parchment" android:name="Parchment">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gblorb" />
                <data android:pathPattern=".*\\.glb" />
                <data android:pathPattern=".*\\.ulx" />
                <data android:pathPattern=".*\\.z3" />
                <data android:pathPattern=".*\\.z4" />
                <data android:pathPattern=".*\\.z5" />
                <data android:pathPattern=".*\\.z8" />
                <data android:pathPattern=".*\\.zblorb" />
                <data android:pathPattern=".*\\.zlb" />
            </intent-filter>
        </config-file>
    </platform>
    <engine name="android" spec="^7.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="com-darryncampbell-cordova-plugin-intent" spec="0.0.15" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
</widget>
