/*

Parchment style sheet

*/

div.center
{
    text-align: center;
}

.alert-dialog
{
    max-height: 95%;
    overflow-y: auto;
}

.coderesult
{
    font-family: monospace;
    overflow-wrap: break-word;
    text-align: left;
    white-space: pre-line;
}

#welcome .coderesult
{
    padding: 0 20px;
}

#glkote
{
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
}